<p>Please insert the URL you want to shorten</p>
<form method="POST" action="/create">
  <label>Original URL:
    https://<input type="text" name="url[target]" id="target" />
  </label><br />
  <label>Slug for shortened URL (leave empty for random slug):
    <input type="text" name="url[source]" id="source" />
  </label><br />
  <button id="send">Send</button>
</form>