<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title><%= @title || 'URL Shortener' %></title>
</head>
<body>
  <h1>URL Shortener</h1>
  <div class="content">
    <%= yield %>
  </div>
</body>
</html>