<h2>Login</h2>
<form method="post" action="/auth/login">
    Username: <input type="text" name="user[username]"><br />
    Password: <input type="password" name="user[password]"><br />
    <button class="input-box" id="send">login</button>
</form>