<h2>Login</h2>
<form method="post" action="/auth/login">
  <label>Username:</label>
  <div class="input-box">
    <input type="text" name="user[username]"><br />
  </div>
  <label>Password:</label>
  <div class="input-box">
    <input type="password" name="user[password]"><br />
  </div>
  <div id="trunstile-widget"></div>
  <button class="input-box" id="send">login</button>
</form>